$pad: 1024px;

@mixin pad {
  @media (max-width: ($pad)) {
    @content;
  }
}

body {
  background-color: #f4f9ff;
  h2 {
    font-size: 18px;
  }
}
ul {
  list-style: none;
}

.header-logo {
  img {
    width: 160px;
    height: 18px;
    margin-left: 460px;

    @include pad {
      margin-left: 10px;
    }
  }
}
main {
  max-width: 1000px;
  margin: 0 auto;
  img {
    width: 100%;
  }

  .content-wrap {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;

    .content-index {
      max-width: 600px;
      margin: 60px auto;

      @include pad {
        padding-left: 40px;
        padding-right: 51px;
      }

      h2 {
        padding-top: 30px;
        padding-bottom: 10px;
      }
      li {
        font-size: 14px;
        padding-bottom: 20px;
      }
    }
  }
  .content-detail {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

    @include pad {
      display: block;
    }

    .content-detail-left {
      margin-right: 60px;
      // display: inline-block;
      @include pad {
        margin: 0 auto;
        text-align: center;
      }
      img {
        width: 270px;
        // max-height: 270px;
      }
    }
    .content-detail-right {
      margin-top: 25px;

      @include pad {
        margin: 25px 20px;
      }
      h2 {
        padding-bottom: 20px;
      }
      p {
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 14px;
      }

      a {
        text-decoration: underline;
        color: black;
        font-size: 14px;
        &:hover {
          opacity: 0.8;
        }
      }
      .content-detail-right-about {
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 16px 0;
        font-size: 14px;

        .content-detail-right-about-dd {
          display: flex;
          flex-wrap: wrap;
          dt {
            width: 25%;
          }
        }
      }
    }
  }
}

footer {
  max-width: 600px;
  margin: auto;
  margin-top: 115px;
  margin-bottom: 15px;
  font-size: 10px;
}
