@charset "UTF-8";
img {
  width: 100%;
}

/*----------レスポンシブ----------*/
.container {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Corben", cursive;
}

/*------------ ヘッダー---------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  border-right: 1px solid #000;
  text-align: center;
}

header .header-wrapper {
  margin-top: 100px;
  padding: 0 50px;
}

header .header-nav {
  margin-bottom: 30px;
}

header .header-nav li {
  list-style: none;
  padding-bottom: 30px;
}

header .header-nav li:last-child {
  padding: 0;
}

header .header-nav li a {
  color: #000;
  text-decoration: none;
}

header .header-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header .header-sns li {
  width: 35%;
}

header .header-sns .twitter {
  color: #6ca3f6;
}

header .header-sns .instagram {
  color: #c93abb;
}

header .header-sns .facebook {
  color: #0056b2;
}

/*----------メイン-----------------*/
main {
  margin-left: 300px;
  height: 5000px;
}

main #home {
  position: relative;
  background-image: url(/img/rocky-mountains-3717220_1920.jpg);
  background-size: cover;
  height: 100vh;
}

main #home .home-title {
  position: absolute;
  top: 50%;
  /*親要素を起点に上から50%*/
  left: 50%;
  /*親要素を起点に左から50%*/
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  /*要素の大きさの半分ずつを戻す*/
  text-shadow: 1px 1px 0 #666, 2px 2px 0 #666, 3px 3px 0 #666;
  font-size: 100px;
  color: #fff;
}

