header {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;

  a {
    text-decoration: none;
    color: #000;
  }

  .header-logo {
    width: 125px;
    height: 40px;
    margin-top: 5px;
  }

  .header-list {
    margin-top: 15px;
    a {
      color: #383e46;
      font-size: 14px;
      text-decoration: none;
      padding: 20px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
